* {
  box-sizing: border-box;
}

html {
  background: #ffb75e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ed8f03,
    #ffb75e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ed8f03,
    #ffb75e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top:1rem;
}
.content{
	padding: 1rem;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}


li{
	list-style-type: none;
}

.nav-links{
  width: 100%;
  top: 5rem;
  left: 5rem;
  display: none;
  background-color:#ff9776;
  margin:0;
}

.nav-links a{
  display: block;
  text-align: center;
  padding: 0.7rem 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded{
  display: unset;
}

.hamburger{
  padding-right:1.5rem;
  cursor:pointer;

}

.hamburger .line{
  display: block;
  width:2rem;
  height: 0.5rem;
  margin-bottom: 0.3rem;
  background-color: #ff9776;

}


@media screen  and (min-width:636px){
  .nav-links{
    margin-left: 5em;
      display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a{
    display: inline-block;
    padding: 0.5rem;
  }
  .content{
    padding-inline: 15rem;
  }

  .hamburger{
    display: none;
  }
}
