<html>
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>About Astro</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
		<h1>About Astro</h1>
		<p>Astro is a modern static site generator that allows you to build fast, optimized websites using your favorite frameworks and libraries.</p>
		<p>Learn more about Astro at <a href="https://astro.build">astro.build</a>.</p>
	</body>
</html>
