---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Home Page";
---
<BaseLayout pageTitle = {pageTitle}>
	<h1>Awesome blog site</h1>

	pariatur hic dolor repellendus. Accusantium cumque earum nihil reprehenderit sed ipsum deleniti.

</BaseLayout>
