---
// const platform = "github"
// const username = "ajp1-cmyk"
import Social from "./Social.astro"
---

<footer class="footer">
		<!-- Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>platform</a>! -->
		 <Social platform = "Github" username="ajp1-cmyk" />
		 <Social platform = "Twitter" username="ajp1-cmyk" />
</footer>

<style>
	.footer {
background: #1F1C2C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: black;
  padding: 1rem;
  padding-inline: 20rem;
  display: flex;
}


</style>
