---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import Theme from "./Theme.astro";


---
<header>
	<nav class="pl-10 pt-2">
		<Hamburger />
		<Theme />
		<Navigation />
	</nav>
</header>
