---
const {platform,username} = Astro.props;
---

<a class="pl-2 pr-2 pb-1" href={`https://${platform}.com/${username}`}>{platform}</a>

<style>
	a{
		padding-inline: 1rem;
		text-decoration:underline;
		font-weight: 600;
	}

</style>
