---
const {platform,username} = Astro.props;
---

<a href={`https://${platform}.com/${username}`}>{platform}</a>

<style>
	a{
		padding-inline: 1rem;
		color:hotpink;
		text-decoration: none;
	}
</style>
